<h1>Usuarios</h1>
<hr>

<div class="row justify-content-end">
    <button routerLink="/usuario/nuevo"
            class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</button>
</div>

<div class="row m-t-3">
  <div class="col text-center">
    <div class="alert alert-info" role="alert">
      <i class="fa fa-spinner fa-spin fa-2x"></i>
      <h4>
        Loading...
      </h4>
    </div>
  </div>
</div>

<div class="row m-t-3" *ngIf="users == null">
  <div class="col text-center">
    <div class="alert alert-warning" role="alert">
      <i class="fa fa-exclamation-triangle fa-2x"></i>
      <h4>
        No Users Found!
      </h4>
    </div>
  </div>
</div>

<div class="row m-t-3 animated fadeIn slow" *ngIf="users != null">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Ocupation</th>
            <th scope="col">Status</th>
            <th scope="col">Tools</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.ocupation }}</td>
            <td>{{ user.employed ? 'Employed' : 'Unemployed' }}</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
</div>