<h1>Usuario: nombre</h1>
<hr>

<div class="row justify-content-end">
    <button routerLink="/usaurios"
            class="btn btn-danger">
        <i class="fa fa-arrow-left"></i>
        Regresar
    </button>
</div>

<div class="row">
    <div class="col">
        <form [formGroup]="dataForm" (ngSubmit)="saveForm()">
            <div class="form-group">
                <label for="id">Id</label>
                <input formControlName="id"
                        disabled="true"
                        type="text" class="form-control" id="id">
                <small class="form-text text-muted">Self generated field</small>
            </div>
            <div class="form-group">
                <label for="name">Full Name</label>
                <input formControlName="name"
                        type="text" class="form-control" id="name" aria-describedby="nameHelp">
                <small *ngIf="dataForm.get('name').errors?.required"
                        id="nameHelp" class="form-text text-muted color-danger">Name is required</small>
            </div>
            <div class="form-group">
                <label for="ocupation">Ocupation</label>
                <input formControlName="ocupation"
                        type="text" class="form-control" id="ocupation">
            </div>
            <div class="form-group">
                <label for="status">State</label>
                <app-status formControlName="status"></app-status>
                <hr>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!dataForm.valid">Save</button>
        </form>
    </div>
</div>