<h1>Usuario: nombre</h1>
<hr>

<div class="row justify-content-end">
    <button routerLink="/usaurios"
            class="btn btn-danger">
        <i class="fa fa-arrow-left"></i>
        Regresar
    </button>
</div>

<div class="row">
    <div class="col">
        <form>
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" class="form-control" id="id">
            </div>
            <div class="form-group">
                <label for="name">Nombre completo</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
                <small id="nameHelp" class="form-text text-muted">Nombre es requerido</small>
            </div>
            <div class="form-group">
                <label for="ocupation">Ocupation</label>
                <input type="text" class="form-control" id="ocupation">
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <div class="col">
                    <button class="btn btn-outline-success">
                        <i class="fa fa-briefcase"></i>
                        Employed
                    </button>
    
                    <button class="btn btn-outline-danger">
                        <i class="fa fa-calendar"></i>
                        Unemployed
                    </button>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>